@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --color1: #3A1C1E;
    --color2: #EDC89A;
    --color3: #F27329;
    --color4: #fff;
    --color5: #102F80;
    --color6: #FFA925;
    --color7: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

body{
    background-color: var(--color2);
    font-family: "Balsamiq Sans", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 10px 20px;
    background-color: var(--color1);
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: var(--color4);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a{
    text-decoration: none;
    color:var(--text-color4);
    font-size: 1.2rem;
    padding: 10px 0;
}

nav ul li a:hover {
    color: var(--color3);
}

.img-logo img{
    width: 100px; 
    height: auto; 
}

.menu-list {
    display: flex;
    gap: 60px;
    list-style: none;
}

.menu-mobile-icon {
    display: none; 
}

/* *************************************************************************** */

.grid-container{
    border-radius:20px;
    border: 0px solid var(--color7);
    margin: 20px;
    align-items: center;

    /* grid-gap: 10px; */
    display: grid;
    grid-template-areas: 
    "sidenav item-descricao item-descricao"
    /* "sidenav  item-meio2  item-img" */
    /* "sidenav item-meio item-meio2 item-img" */
    "sidenav  item-meio   item-img"
    "item-meio2 item-meio2  item-meio2" 
    "item-final item-final item-final"
    "item-final2 item-final2 item-final2"
    ;
    
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 20vh 70vh 10vh; */
}

.sidenav{
    /* width: 400px;
    height: 540px; */
    background-color: var(--color3);
    border-radius: 20px;

    grid-area: sidenav;
}

.item-descricao{
    /* width: 940px;
    height: 200px; */
    background-color: var(--color1);
    border-radius: 20px;

    grid-area: item-descricao;
}

.item-meio{
    /* width: 240px;
    height: 290px; */
    border-radius: 20px;
    background-color: var(--color4);

    justify-content: space-around;
    grid-area: item-meio;

    /* grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 2; */
    /* grid-row-gap: 10px; */

}
.item-meio2{
    /* width: 240px;
    height: 290px; */
    border-radius: 20px;
    background-color: var(--color7);

    grid-area: item-meio2;

    /* grid-column-start: 2; */
    /* grid-column-end: 2; */

    /* grid-row-start: 2; */
    /* grid-row-end: 2; */
}   

.item-img{  
    /* width: 440px;
    height: 290px; */
    background-color: var(--color5);
    border-radius: 20px;

    grid-area: item-img;
}

.item-final{
    /* width: 670px;
    height: 170px; */
    background-color: var(--color6);
    border-radius: 20px;

    grid-area: item-final;

}
.item-final2{
    /* width: 670px;
    height: 170px; */
    background-color: var(--color7);
    border-radius: 20px;

    grid-area: item-final2;

}










/* Reponsividade Mobile pequeno */
/* Header */
@media (max-width: 576px) {
    .menu-list {
        display: none;
        flex-direction: column;
        background-color: var(--color1);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        gap: 10px;
        padding: 10px 0;
        transform: translateY(-10px);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .menu-list.active {
        display: flex;
        transform: translateY(0);
        opacity: 1;
    }

    .menu-mobile-icon {
        display: block;
    }

    .nav-menu {
        justify-content: flex-end;
    }

    .menu-list li {
        width: 100%;
        text-align: center;
    }

    .menu-list li a {
        display: block;
        width: 100%;
        padding: 10px 0;
        color: var(--color4);
        text-decoration: none;
    }

    .menu-mobile-icon img {
        width: 30px;
        height: auto;
    }

    .menu-mobile-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

/* Responsividade mobile grande */
/* Header */
@media (max-width: 768px) {
    .menu-list {
        display: none; 
        flex-direction: column;
        background-color: var(--color1);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        gap: 10px;
        padding: 10px 0;
        transform: translateY(-10px); /* Inicialmente deslocado para cima */
        opacity: 0; /* Inicialmente invisível */
        transition: transform 0.3s ease, opacity 0.3s ease; /* Transição suave */
    }

    .menu-list.active {
        display: flex; 
        /* gap: 10px; */
        transform: translateY(0); /* Desliza para a posição original */
        opacity: 1; /* Fica visível */
    }

    .menu-mobile-icon {
        display: block;
    }

    .nav-menu {
        justify-content: flex-end;
    }

    .menu-list li {
        width: 100%;
        text-align: center;
    }

    .menu-list li a {
    display: block;
    width: 100%;
    padding: 10px 0; 
    color: var(--color4);
    text-decoration: none;
    }

    menu-mobile-icon {
        display: block;
    }

    .menu-mobile-icon img {
        width: 30px; 
        height: auto;
    }

    .menu-mobile-icon button {
        background-color: transparent; 
        border: none;
        cursor: pointer;
    }
}

/* Responsividade Tablet */
@media (max-width: 992px) {
    
}

/* Responsividade Laptops Pequenos e Desktops */
@media (max-width: 1200px) {
    
}

/* Responsividade - Desktops */
@media (min-width: 1201px) {
    
}